UserMS/Service References/API/UserMSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27127/UserMSService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:27127/UserMSService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="Main">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MethodId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="args" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="MainResult" nillable="true" type="q2:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="LoginResult" nillable="true" type="q3:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="InitDataResult" nillable="true" type="q4:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Newpassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="UpdatePwdResult" nillable="true" type="q5:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="role" nillable="true" type="q6:Sys_UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetRoleResult" nillable="true" type="q7:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mmmm">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mmmmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="mmmmResult" nillable="true" type="q8:Pro_IMEI_Deleted" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MethodId" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="args" nillable="true" type="q9:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="MainReportResult" nillable="true" type="q10:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainReportViewInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainReportViewInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="MainReportViewInfoResult" nillable="true" type="q11:WebReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSellTyPro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSellTyProResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetSellTyProResult" nillable="true" type="q12:ArrayOfPro_SellTypeProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TESTER">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TESTERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="TESTERResult" nillable="true" type="q13:ArrayOfPro_ProInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>